/* globals.css */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css");

html, body {
  height: 100%;
  margin: 0;
}

.container {
  padding-bottom: 100px; /* Ajusta este valor según la altura de tu footer */
  flex-grow: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
}

footer {
  position: relative; /* Asegúrate de que el footer no esté fijo */
  z-index: 100; /* Asegúrate de que el footer esté por encima de otros elementos */
}

nav {
  height: 60px;
}

input[type="text"] {
  width: 200px;
}

/* Estilo para el overlay difuso */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  backdrop-filter: blur(5px); /* Aplica el desenfoque */
  z-index: 1040; /* Asegúrate de que esté por debajo del modal */
  display: none; /* Inicialmente oculto */
}